<nav>
  <ul>
    <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
    <li>{{#link-to 'account'}}Account{{/link-to}}</li>
  </ul>
</nav>

<div class="content">
  {{outlet}}
</div>
{{outlet modal}}
